body {
  margin: 0;
  -webkit-app-region: drag;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  &:hover {
    cursor: grab;
  }
}
button {
  border: 1px solid #fff;
  cursor: pointer;
  &:disabled {
    border: none;
    opacity: 0.3;
  }
  &:active {
    border: none;
  }
  &:focus {
    outline: 0;
  }
}
